<div id="header">
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Dropdown', pages_test_path %></li>
            <li><%= link_to 'Left Sidebar', users_login_path %></li>
            <li><%= link_to 'Right Sidebar'%></li>
            <li><%= link_to 'No Sidebar'%></li>
        </ul>
    </nav>

</div>
